{% include 'monster/monster_drop_index.html' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>敌将掉落信息</title>
</head>
<body>
<div style="float:left;">
	<h3>普通战场敌将掉落信息</h3>
  <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
  <tr>
   <th>战场名称</th>
  </tr>
  	{% for monster in Normal_monster_drop_info %}
  	
  	{% if monster.0 %}
  	
  	<tr>
  	<td>{{ monster.1 }}</td>
  	<td>
  	<form method="post">
  		<input type="hidden" name="floor_id" value={{monster.2}} />
  		{% if monster.3 %}
  		<input type="hidden" name="floor_expand" value="1" />
  		<input type="submit" value="展开" />
  		{% else %}
  		<input type="hidden" name="floor_expand" value="0" />
  		<input type="submit" style="color:red" value="折叠" />
  		{% endif %}
    </form>
    </td>
    </tr>
   
    {% else %}
    {% if monster.5 %}
    <tr>
      <th>战场名称</th>
   	  <th>common</th>
   	  <th>special</th>
   	  <th>BOSS</th>
    </tr>
    {% endif %}
    <tr>
  	<td>{{ monster.1 }}</td>
  	<td>
  	{% for common_card in monster.2 %}
  	   <img src= "{{settings.BASE_URL}}/static/images/head/{{common_card.0}}" width="55" height="54" />
       {% if common_card.2 %}
        <span style="color:red;">{{common_card.1}}</span>
        <span style="color:red;">{{common_card.3}}</span>
        {% else %}
        否
        {{common_card.3}}
        {% endif %}
  	{% endfor %}
  	</td>
  	
  	<td>
  	{% for special_card in monster.3 %}
  	   <img src= "{{settings.BASE_URL}}/static/images/head/{{special_card.0}}" width="55" height="54" />
  	   {% if special_card.2 %}
        <span style="color:red;">{{special_card.1}}</span>
        <span style="color:red;">{{special_card.3}}</span>
        {% else %}
        否
        {{special_card.3}}
        {% endif %}
  	{% endfor %}
  	</td>
  	
  	<td>
  	{% for boss_card in monster.4 %}
  	    <img src= "{{settings.BASE_URL}}/static/images/head/{{boss_card.0}}" width="55" height="54" />
        {% if boss_card.2 %}
        <span style="color:red;">{{boss_card.1}}</span>
        <span style="color:red;">{{boss_card.3}}</span>
        {% else %}
        否
        {{boss_card.3}}
        {% endif %}
  	{% endfor %}
  	</td>
  	
    {% endif %}
    
   {% endfor %}
  </table>
  </div>
</body>
</html>

