<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>查询邀请记录</title>
    <script src="../../js/calendar.js">
    </script>
</head>
<body>

    <h3>查询充值及消费记录</h3>
    <form action="" method="get">
        <div>
            <label for="uid">用户ID:</label>
            <input type="text" size="9" id="uid" name="uid" {% if uid %}value={{uid}}{% endif %}>

            <br>
            <span>从
            <input name="start_date" type="text" id="start_date" size="10" maxlength="10" onclick="new Calendar().show(this);" 
            {% if start_date %}value="{{start_date}}"{% endif %} readonly="readonly" />
        </span>
        <span>至
            <input name="end_date" type="text" id="end_date" size="10" maxlength="10" onclick="new Calendar().show(this);" 
            {% if end_date %}value="{{end_date}}"{% endif %} readonly="readonly" />
        </span>

        <br>
            <select name="search_type">
                <option value="all" {% ifequal search_type 'all' %}selected="selected"{% endifequal %}>所有</option>
                <option value="charge" {% ifequal search_type 'charge' %}selected="selected"{% endifequal %}>充值</option>
                <option value="consume" {% ifequal search_type 'consume' %}selected="selected"{% endifequal %}>消费</option>
            </select>

            <br>
            <input type="submit" value="确定"/>
        </div>

    <hr />
    </form>
     <table bgcolor="#C7EDCC" border="2">
        <tr>
            <td width="100" align="right">ID</td>
            <td width="100" align="right">当时等级</td>
            <td width="100" align="right">时间</td>
            <td width="100" align="right">类型</td>
            <td width="100" align="right">元宝数量</td>
            <td width="100" align="right">之前元宝数量</td>
            <td width="100" align="right">之后元宝数量</td>
        </tr>

        {% for record in result %}
            <tr>
                <td width="150" align="right">{{record.uid}}</td>
                <td width="150" align="right">{{record.lv}}</td>
                <td width="150" align="right">{{record.createtime}}</td>
                {% if record.consume_type %}
                    <td width="150" align="right">{{record.consume_type}}</td>
                    <td width="150" align="right">{{record.num}}</td>
                {% else %}
                    <td width="150" align="right">充值</td>
                    <td width="150" align="right">{{record.item_num}}</td>
                {% endif %}
                <td width="150" align="right">{{record.before_coin}}</td>
                <td width="150" align="right">{{record.after_coin}}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>查询充值成功与否</h3>
    <form action="" method="get">
        <div>
            <label for="uid">用户ID:</label>
            <input type="text" size="9" id="uid" name="uid_charge" {% if uid_charge %}value={{uid_charge}}{% endif %}>

            <br>
            <span>从
            <input name="start_date_charge" type="text" id="start_date" size="10" maxlength="10" onclick="new Calendar().show(this);" 
            {% if start_date_charge %}value="{{start_date_charge}}"{% endif %} readonly="readonly" />
            </span>
            <span>至
            <input name="end_date_charge" type="text" id="end_date" size="10" maxlength="10" onclick="new Calendar().show(this);" 
            {% if end_date_charge %}value="{{end_date_charge}}"{% endif %} readonly="readonly" />
            </span>

            <br>
            <label for="oid">订单号oid:</label>
            <input type="text" size="9" id="oid" name="oid" {% if oid %}value={{oid}}{% endif %}>

            <br>
            <input type="submit" value="确定"/>
        </div>
    <hr />
    </form>
     <table bgcolor="#C7EDCC" border="2">
        <tr>
            <td width="100" align="right">用户id</td>
            <td width="100" align="right">订单号oid</td>
            <td width="100" align="right">购买价格</td>
            <td width="100" align="right">支付方式</td>
            <td width="100" align="right">充值是否成功</td>
            <td width="100" align="right">充值时间</td>
        </tr>
        {% for c_log in charge_log %}
            <tr>
                <td width="150" align="right">{{c_log.uid}}</td>
                <td width="150" align="right">{{c_log.oid}}</td>
                
                <td width="150" align="right">{{c_log.item_id}}</td>
                <td width="150" align="right">{{c_log.charge_way}}</td>
                <td width="150" align="right">{{c_log.result}}</td>
                <td width="150" align="right">{{c_log.date_time}}</td>
            </tr>
        {% endfor %}
    </table>

    
</body>
</html>
