{% extends "admin/main.html" %}
{% block right %}
    {% ifequal status 1 %}
    <div class="success">
        <span style="color:red;">保存成功</span>
    </div>
    {% endifequal %}
    <div>
        用户ID:&nbsp;{{ user.uid }}
        <a href="javascript:window.location = window.location">刷新</a>
    </div>
    <hr/>
    <table class="table table-bordered">
        <tr>
            <td> <label>用户名</label>
                <span style="color:red;">{{ user.username }}</span>
            </td>
            <td><label>性别</label>
                <span style="color:red;">{% if user.baseinfo.sex %}男{% else %}女{% endif %}</span>
            </td>
            <td><label>客户端类型</label>
                <span style="color:red;">{{ client_type }}</span>
            </td>
            <td><label>安装时间</label>
                <span style="color:red;">{{ add_time }}</span>
            </td>
            <td><label>最后登录时间</label>
                <span style="color:red;">{{ last_login_time }}</span>
            </td>
            <td><label>登录记录</label>
                <select name="login_record" size="1">
                    {% for login_date in login_record%}
                    <option>{{login_date}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td><label>等级</label>
                <span style="color:red;">{{ user_property_obj.lv }}</span>
                <form method="post">
                    <input type="text" size="5" maxlength="10" id="modify_lv" name="modify_lv"/>
                    <input type="submit" value="更改等级"/>
                </form>
            </td>
            <td>
                <form method="post">
                    <label>经验</label>
                    <span style="color:red;">{{ user_property_obj.exp }}</span>
                    <input type="text" size="5" maxlength="10" id="add_exp" name="add_exp"/>
                    <input type="submit" value="加"/>
                </form>
            </td>
            <td>
                <form method="post">
                    <label>铜钱</label>
                    <span style="color:red;">{{ user_property_obj.gold }}</span>
                    <input type="text" size="5" maxlength="10" id="add_gold" name="add_gold"/>
                    <input type="submit" value="加"/>
                </form>
            </td>
            <td>
                <form method="post">
                    <label>元宝</label>
                    <span style="color:red;">{{ user_property_obj.coin }}</span>
                    <input type="text" size="5" maxlength="10" id="add_coin" name="add_coin"/>
                    <input type="submit" value="加"/>
                </form> 
            </td>   
             <td>
                <form method="post">
                    <label>武将经验点</label>
                    <span style="color:red;">{{ user_property_obj.property_info.card_exp_point }}</span>
                    <input type="text" size="5" maxlength="10" id="add_card_point" name="add_card_point"/>
                    <input type="submit" value="加"/>
                </form> 
            </td> 
            <td>
                <form method="post">
                    <label>战魂</label>
                    <span style="color:red;">{{ user_property_obj.property_info.fight_soul }}</span>
                    <input type="text" size="5" maxlength="10" id="add_fight_soul" name="add_fight_soul"/>
                    <input type="submit" value="加"/>
                </form> 
            </td> 
        </tr>
        <tr>
              <td><label>用户帐号类型</label>
                <span style="color:red;">{{ user.platform }}</span>
            </td>
            <td>
                <form method="post">
                    <label for="state">账号状态</label>
                    <select id="state" name="state">
                        <option value="0" {% if not user.in_frozen %}selected="selected"{% endif %}>正常</option>
                        <option value="1" {% if user.in_frozen %}selected="selected"{% endif %}>冻结</option>
                    </select>
                    {% if user.in_frozen and not user.frozen and user.baseinfo.unfroze_time %}解封时间:{{user.baseinfo.unfroze_time|date:"Y-m-d H:i:s"}}{% endif %}
                    <input type="submit" value="更改状态"/>
                </form> 
            </td>
            <td><label>当前战场进度：</label>
                <span style="color:red;">{{current_dungeon.floor_id}}-{{current_dungeon.room_id}}</span>
            </td>
            <td>
                <form method="post">
                    {% if max_dungeon %}
                    <span style="color:red";>已到最深层战场</span>
                    {% else %}
                    开放战场
                    <select name="open_dungeon" size="1">
                        {% for dungeon in all_dungeon%}
                        <option value="{{dungeon}}" {%if forloop.first%}selected="selected"{%endif%}>{{dungeon}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="开放"/>
                </form>
                {% endif %}
            </td>
            <td>
                <form method="post">
                    当前体力：
                    <span style="color:red;">{{user_property_obj.stamina}}</span>
                    <input name="add_stamina" id="add_stamina"/>
                    <input type="submit" value="加" />
                </form> 
            </td>
            {% if user_property_obj.newbie %}
            <td>
                <form method="post">
                    <input type="hidden" name="newbie_pass" value="yes" />
                    <input type="submit" value="跳过新手引导" />
                </form> 
            </td>
        {% endif %}
        </tr>
        <tr>
             <td>pk 胜负 
                <span style="color:red;">win:{{user_real_pvp_obj.total_win}}</span>
                <span style="color:red;">lose:{{user_real_pvp_obj.total_lose}}</span>
            </td>
             <td>
                <form method="post">
                    <label>pk积分</label>
                    <span style="color:red;">{{ user_real_pvp_obj.pt }}</span>        
                    <input type="text" size="5" maxlength="10" id="add_pk_pt" name="add_pk_pt"/>
                    <input type="submit" value="加(不会改变排名)"/>
                </form> 
            </td>  
            <td>pk 称号
                <span style="color:red;">{{user_real_pvp_obj.pvp_title}}</span>
            </td>
            <td>
                <form method="post">
                    vip等级: <span style="color:red;">{{user_property_obj.vip_cur_level}}</span>
                    <input type="text" size="5" maxlength="10" id="modify_vip_lv" name="modify_vip_lv"/>
                    <input type="submit" value="更改vip等级"/>
                </form> 
            </td>
             <td>
                <form method="post">
                    <label>功勋</label>
                    <span style="color:red;">{{ user_real_pvp_obj.honor }}</span>
                    <input type="text" size="5" maxlength="10" id="add_honor" name="add_honor"/>
                    <input type="submit" value="加"/>
                </form> 
            </td> 
            <td>    
            <form method="post">
                <input type="hidden" name="del_user" value="yes" />
                <input type="submit" value="删除用户" />
            </form> 
        </td> 

        </tr>   
    </table>

    <hr /> 
        <h3>邮件系统</h3>
            <form method="post">
                <tr>
                    邮件标题
                    <input type="text" id="mail_title" name="mail_title"/>
                </tr>
                <tr>
                    邮件内容
                    <input type="text" id="mail_content" name="mail_content"/>
                </tr>
                <br/>
                <tr>
                    奖励内容 格式(1_mat:2;2_card:1;),其中冒号后面是数量，具体物品格式可参考神秘商店配置
                    <input type="text" size="250"  id="mail_goods" name="mail_goods" 
                    value="fight_soul:100;honor:100;gold:10;5_card:1;3_mat:2;1_props:1;5_cardSoul:1;13001_equip_green:3;13003_equipSoul:1;53003_equipSoul_1:1"/>
                </tr>
                <br/>
                <tr>
                    <input type="submit" value="发送邮件"/>
                </tr>
                <br/>
           </form>
        <br/>

    <table>     
        <h3>玩家物品</h3>
        <tr>
            <td colspan=4>
                <form method="post">
                    <span style="color:red;">补武将：</span>
                    <input type="text" size="30" id="add_card_ex" name="add_card_ex" />
                    <input type="submit" value="补武将" />
                    (格式(15:2;20:1),其中15,20是武将的id，不需要_card, 2,1是补的个数)
                </form>
            </td>
        </tr>

        <tr>
            {% if arrive_max_num %}
            <td valign="bottom">
                <span style="color:red";>军营已满</span>
            </td>
            {% else %}
            <form method="post">
                <td valign="bottom">
                    送武将
                    <br/>
                    <select name="add_card" multiple="multiple" size="5">
                        {% for card in all_cards%}
                        <option value="{{card.cid}}">{{card.cid|cut:"_card" }}:{{card.name}}{{card.star}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="确定"/>
                </td>
            </form>
            <td></td>
            {% endif %}
            <td valign="bottom">
                <form method="post">
                    <input type="hidden" name="give_all_card" value="yes" />
                    <input type="submit" value="一键送所有武将" />
                </form>
            </td>
            <td valign="bottom">
                <form method="post">
                    <input type="hidden" name="del_other_card" value="yes" />
                    {% if other_cards|length %}
                    <input type="submit" value="一键删军营武将" />
                    {% else %}
                    <input type="submit" disabled="disabled" value="军营中已无武将" />
                    {% endif %}
                </form>
            </td>
        </tr>
        <tr>        
            <td colspan=4>
                <form method="post">
                    <span style="color:red;">补装备：</span>
                    <input type="text" size="30" id="add_equips" name="add_equips" />
                    <input type="submit" value="补装备" />
                    (格式(15:2;20:1),其中15,20是武将的id，不需要_equips
                </form>
            </td>
            
        </tr>
        <tr>    
            <!--   {% if arrive_max_num %}
            <td valign="bottom">
            <span style="color:red";>军营已满</span>
        </td>   
        {% else %} -->
        <form method="post">
            <td valign="bottom">
                送装备  
                <br/>   
                <select name="add_equips" multiple="multiple" size="5" id="add_equips">
                    {% for equip in all_equips%}
                    <option value="{{equip.0}}:1">{{equip.0 }}:{{equip.1.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="确定"/>
            </td>
        </form>
        <td></td>
        <td valign="bottom">
            <form method="post">
                <input type="hidden" name="give_all_equips" value="yes" />
                <input type="submit" value="一键送所有装备" />
            </form> 
        </td>       
        <td valign="bottom">
            <form method="post">
                <input type="hidden" name="give_all_equip_soul" value="yes" />
                <input type="submit" value="一键送所有装备碎片20个" />
            </form>
        </td>       
        <td valign="bottom">
            <form method="post">
                <input type="hidden" name="del_all_equip_soul" value="yes" />
                <input type="submit" value="一键删除所有装备碎片" />
            </form>
        </td>
        <td valign="bottom">
            <form method="post">
                <input type="hidden" name="del_other_equips" value="yes" />
                {% if other_cards|length %}
                <input type="submit" value="一键删其他装备" />
                {% else %}
                <input type="submit" disabled="disabled" value="仓库已无装备" />
                {% endif %}
            </form>
        </td>
        <!-- {% endif %} --> </tr>


    <tr>
        <td colspan=4>
            <form method="post">
                <span style="color:red;">补材料：</span>
                <input type="text" size="30" id="add_mats" name="add_mats" />
                <input type="submit" value="补材料" />
                (格式(15:2;20:1),其中15,20是材料的id，不需要_mats
            </form>
        </td>
    </tr>
        
    <tr>    
        <!--   {% if arrive_max_num %}
            <td valign="bottom">
        <span style="color:red";>军营已满</span>
    </td>       
    {% else %} -->
    <form method="post"> 
        <td valign="bottom">
            送材料
            <br/>
            <select name="add_mats" multiple="multiple" size="5">
                {% for mat in all_materials%}
                <option value="{{mat.0}}:1">{{mat.0 }}:{{mat.1.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="确定"/>
        </td>   
    </form> 
    <td></td>
    <td valign="bottom">
        <form method="post">
            <input type="hidden" name="give_all_materials" value="yes" />
            <span style="color:red;">每种材料的数量：</span>
            <input name="all_materials_num" value="99" />
            <input type="submit" value="一键送所有材料" />
        </form>
    </td>
    <td valign="bottom">
        <form method="post">
            <input type="hidden" name="del_all_materials" value="yes" />
            <input type="submit" value="一键删材料" />
        </form>
    </td>       
     <!-- {% endif %} -->
</tr>           
            

<tr>
    <td colspan=4>
        <form method="post">
            <span style="color:red;">补道具：</span>
            <input type="text" size="30" id="add_props" name="add_props" />
            <input type="submit" value="补道具" />
            (格式(15:2;20:1),其中15,20是道具的id，不需要_props
        </form>
    </td>
</tr>           
            
<tr>        
    <form method="post">
        <td valign="bottom">
            送道具
            <br/>
            <select name="add_props" multiple="multiple" size="5">
                {% for props_id in all_props%} 
                <option value="{{props_id.0}}:1">{{props_id.0 }}:{{props_id.1.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="确定"/>
        </td>
    </form>
    <td></td>
    <td valign="bottom">
        <form method="post">
            <input type="hidden" name="give_all_props" value="yes" />
            <span style="color:red;">每种道具的数量：</span>
            <input name="all_props_num" value="99" />
            <input type="submit" value="一键送所有道具" />
        </form>
    </td>
    <td valign="bottom">
        <form method="post">
            <input type="hidden" name="del_all_props" value="yes" />
            <input type="submit" value="一键删道具" />
        </form>
    </td>
</tr>


</table>
<hr/>
<h3>充值情况</h3>
总共充值：{{charge_sum_money}}
最近一次充值：
{%if last_charge_record %}
    时间:{{last_charge_record.createtime}}
    金额:{{last_charge_record.price}}
{%else%}
    无
{%endif%}

<hr/>
<h3>军队信息</h3>
<table  border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
{% for card in deck_cards %}
<tr class="{% cycle 'odd' 'even'%}">
    {% if card %}
    {% if card.is_leader == 1%}
    <td width="70">
        <span style="color:red;">主将</span>
    </td>
    <td></td>
    {% else %}
    <td width="70">
        <span style="color:red;">副将{{forloop.counter0}}</span>
    </td>
    <td width="70">
        <form method="post">
            <input type="hidden" name="deck_index" value="{{forloop.counter0}}" />
            <input type="hidden" name="kick_deck" value="yes" />
            <input type="submit" value="踢出军队" />
        </form>
    </td>
    {% endif %}
    <td>
        <span style="color:red;">{{ card.name }}  {{ card.star}}星</span>
    </td>
    <td>级别:</td>
    <td>
        <span style="color:red;">{{ card.lv }}</span>
    </td>
    <td>经验:</td>
    <td>
        <span style="color:red;">{{ card.now_exp}}</span>
    </td>
            {% if card.lv != card.max_lv %}
    <td>加经验:</td>
    <td>
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="text" maxlength="7" size="8" name="add_card_exp" />
            <input type="submit" value="增加" />
        </form>
    </td>
            {% else %}
    <td>
        <span style="color:red;">已经满级</span>
    </td>
    <td></td>
    {% endif %}
    <td>武将技:</td>
    {% if card.skid %}
    <td>
        <span style="color:red;">{{card.skid}} {{ card.sk_lv}}级</span>
    </td>
    {% if card.sk_lv != card.max_sk_lv %}
    <td>
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="hidden" name="add_card_sk_lv" value="yes" />
            <input type="submit" value="升级" />
        </form>
    </td>
    {% else %}
    <td>
        <span style="color:red;">已经满级</span>
    </td>
    {% endif %}
                    {% else %}
    <td>
        <span style="color:red;">无技能</span>
    </td>
    <td></td>
    {% endif %}
    <td>攻击:</td>
    <td>
        <span style="color:red;">{{ card.attack }}</span>
    </td>
    <td>回复:</td>
    <td>
        <span style="color:red;">{{ card.recover }}</span>
    </td>
    <td>hp:</td>
    <td>
        <span style="color:red;">{{ card.hp}}</span>
    </td>
    <td>防御:</td>
    <td>    
        <span style="color:red;">{{ card.defense}}</span>
    </td>
    <td>装备:</td>
    <td>
        <span style="color:red;">{{ card.equip}}</span>
    </td>
    {% endif %}
</tr>
{% empty %}
            军队中没有武将
        {% endfor %}
</table>
<hr/>
<h3>军营其他武将信息</h3>
<table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
{% for card in other_cards %}
<tr class="{% cycle 'odd' 'even'%}">
    <td width="70">
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="hidden" name="set_deck_main" value="yes" />
            <input type="submit" value="设为主将" />
        </form>
    </td>
    <td></td>
    <td width="70">
        {% if deck_num != 5 %}
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="hidden" name="set_deck_sub" value="yes" />
            <input type="submit" value="设为副将" />
        </form>
        {% endif %}
    </td>
    <td>
        <span style="color:red;">{{ card.name }}  {{ card.star }}星</span>
    </td>
    <td>级别:</td>
    <td>
        <span style="color:red;">{{ card.lv }}</span>
    </td>
    <td>经验:</td>
    <td>
        <span style="color:red;">{{ card.now_exp}}</span>
    </td>
    {% if card.lv != card.max_lv %}
    <td>加经验:</td>
    <td>
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="text" maxlength="7" size="8" name="add_card_exp" />
            <input type="submit" value="增加" />
        </form>
    </td>
    {% else %}
    <td></td>
    <td>
        <span style="color:red;">已经满级</span>
    </td>
    {% endif %}
    <td>武将技:</td>
    {% if card.skid %}
    <td>
        <span style="color:red;">{{card.skid}} {{ card.sk_lv}}级</span>
    </td>
    {% if card.sk_lv != card.max_sk_lv %}
    <td>
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="hidden" name="add_card_sk_lv" value="yes" />
            <input type="submit" value="升级" />
        </form>
    </td>
    {% else %}
    <td>
        <span style="color:red;">已经满级</span>
    </td>
    {% endif %}
                    {% else %}
    <td>
        <span style="color:red;">无技能</span>
    </td>
    <td></td>
    {% endif %}
    <td>攻击:</td>
    <td>
        <span style="color:red;">{{ card.attack }}</span>
    </td>
    <td>回复:</td>
    <td>
        <span style="color:red;">{{ card.recover }}</span>
    </td>
    <td>防御:</td>
    <td>
        <span style="color:red;">{{ card.defense}}</span>
    </td>
    <td>hp:</td>
    <td>    
        <span style="color:red;">{{ card.hp}}</span>
    </td>
    <td>装备:</td>
    <td>
        <span style="color:red;">{{ card.equip}}</span>
    </td>
    <td>
        <form method="post">
            <input type="hidden" name="ucid" value={{card.ucid}} />
            <input type="hidden" name="sell_card" value="yes" />
            <input type="submit" value="卖出" />
        </form>
    </td>
</tr>   
{% empty %}
            军营中没有其他武将
        {% endfor %}
</table>
<hr/>       
<h3>仓库信息</h3>
<table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse" >
<tr class="{% cycle 'odd' 'even'%}">
    <td width="70">装备</td>
    <td>
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse" >
            {%for equip in user_equips%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td width="70">名称：</td>
                <td width="70">{{equip.name}}</td>
            </tr>
            {%endfor%}
        </table>
    </td> 
</tr>

<tr class="{% cycle 'odd' 'even'%}">
    <td width="70">材料</td>
    <tr>
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
            {%for mid,value in user_materials.iteritems%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td>名称：</td>
                <td width="70">{{value.name}}</td>
                <td width="70">数量：{{value.num}}</td>
                <td>
                <form method="post">
                <input type="hidden" name="mid" value={{mid}} />
                <input type="text" maxlength="10" size="8" name="add_materials_num" />
                <input type="submit" value="增加" />
                </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </tr>
</tr>
<tr class="{% cycle 'odd' 'even'%}">
    <td width="70">道具</td>
    <tr>
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
            {%for prop,value in user_props.iteritems%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td>名称：</td>
                <td width="70">{{value.name}}</td>
                <td width="70">数量：{{value.num}}</td>
                <td>
                <form method="post">
                <input type="hidden" name="prop" value={{prop}} />
                <input type="text" maxlength="10" size="8" name="add_props_num" />
                <input type="submit" value="增加" />
                </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </tr>
</tr>
</table>

<hr/>
<h3>将魂信息</h3>
    <form method="post">
            批量添加 普通将魂
            <input type="text" id="dump_normal_soul" name="dump_normal_soul"/>
            <input type="submit" value="添加" />
            (格式(15:2;20:1),其中15,20是武将的id，不需要_card, 2,1是补的个数)
    </form>
    <br />

    <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
        {%for sid, soul_conf in normal_souls.iteritems%}
        <tr class="{% cycle 'odd' 'even'%}">
            <td>名称：</td>
            <td width="200">{{soul_conf.name}}</td>
            <td width="70">数量：{{soul_conf.num}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="sid" value={{sid}} />
                    <input type="text" maxlength="10" size="8" name="add_normal_soul" />
                    <input type="submit" value="增加" />
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="sid" value={{sid}} />
                    <input type="hidden" name="delete_card_soul" value='true'/>
                    <input type="text" maxlength="6" size="6" name="num" value={{soul_conf.num}} />
                    <input type="submit" value="删除武将碎片" />
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="sid" value={{sid}} />
                    <input type="hidden" name="soul_exchange_card" value='true'/>
                    <input type="submit" value="兑换武将" />
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
   <br />
    <form method="post">
            批量添加 装备碎片
            <input type="text" id="add_equip_soul" name="add_equip_soul"/>
            <input type="submit" value="添加" />
            (普通装备格式  13001_equip:1  宝物装备格式 63001_equip_1:1  )
    </form>

    <br />
    <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
        {%for sid, soul_conf in equip_souls_info.iteritems%}
        <tr class="{% cycle 'odd' 'even'%}">
            <td>名称：</td>
            <td width="200">{{soul_conf.name}}</td>
            <td width="70">数量：{{soul_conf.num}}</td>
            <td>
                <form method="post">
                <input type="hidden" name="sid" value={{sid}} />
                <input type="text" maxlength="10" size="8" name="add_single_equip_soul" />
                <input type="submit" value="增加" />
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>

<h3>神秘商店信息</h3>
    <form method="post">
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
            <tr class="{% cycle 'odd' 'even'%}">
                <td width="200">序号：</td>
                <td width="90">消耗铜钱：</td>
                 <td width="90">消耗元宝：</td>
                  <td width="90">消耗战魂：</td>
                <td width="300">物品：</td>
                <td width="90">是否已购买</td>
                <td width="70">
                   <form method="post">
                        <input type="hidden" name="store_type" value="fight_coin_store" />
                        <input type="hidden" name="goods_index" value={{ forloop.counter0 }} />
                        <input type="hidden" name="refresh_mystery_store" value='true'/>
                        <input type="submit" value="刷新商品" />
                    </form>
                </td>
            </tr>
            {%for package in mystery_store.fight_coin_store%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td>{{ forloop.counter0 }}</td>
                <td width="90">{{ package.need_gold }}</td>
                 <td width="90">{{ package.need_coin }}</td>
                  <td width="90">{{ package.need_fight_soul }}</td>
                <td width="300">{{ package.goods }}</td>
                <td width="90">{{ package.has_bought }}</td>
                <td width="70">
                    <form method="post">
                        <input type="hidden" name="store_type" value="gold_store" />
                        <input type="hidden" name="goods_index" value={{ forloop.counter0 }} />
                        <input type="hidden" name="buy_mystery_store_goods" value='true'/>
                        <input type="submit" value="购买" />
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </form>


<h3>PK商店信息</h3>
    <form method="post">
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
            <tr class="{% cycle 'odd' 'even'%}">
                <td width="200">序号：</td>
                <td width="90">消耗功勋：</td>
                <td width="300">物品：</td>
                <td width="90">是否已购买</td>
                <td width="70">
                   <form method="post">
                        <input type="hidden" name="goods_index" value={{ forloop.counter0 }} />
                        <input type="hidden" name="refresh_pk_store" value='true'/>
                        <input type="submit" value="刷新商品" />
                    </form>
                </td>
            </tr>
            {%for package in pk_store.pk_store%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td>{{ forloop.counter0 }}</td>
                <td width="90">{{ package.need_honor }}</td>
                <td width="300">{{ package.goods }}</td>
                <td width="90">{{ package.has_bought }}</td>
                <td width="70">
                    <form method="post">
                        <input type="hidden" name="goods_index" value={{ forloop.counter0 }} />
                        <input type="hidden" name="buy_pk_store_goods" value='true'/>
                        <input type="submit" value="购买" />
                    </form>
                </td>
            </tr>
            {%endfor%}
        </table>
    </form>


    <h3>邮件</h3>
    <form method="post">
        <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse">
            <tr class="{% cycle 'odd' 'even'%}">
                <td width="40">序号</td>
                <td width="150">标题 </td>
                <td width="300">正文</td>
                <td width="300">奖励内容</td>
                <td width="70">发送时间</td>  
                <td width="70">已查看</td>    
            </tr>
            {%for mail in mails%}
            <tr class="{% cycle 'odd' 'even'%}">
                <td>{{ forloop.counter0 }}</td>
                <td>{{ mail.title }}</td>
                <td>{{ mail.content }}</td>
                <td>{%for award in mail.awards%} {{ award }} </br>{%endfor%}</td>
                <td>{{ mail.create_time }}</td>
                <td>{% if mail.can_get %}否{% else %}是{% endif %}</td>
            </tr>
            {%endfor%}
        </table>
    </form>

{% endblock %}
