<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>查看用户信息</title>
</head>
<body>
    {%load filters%}
    <div>
       用户ID:&nbsp;{{ user.uid }} <a href="javascript:window.location = window.location">更新／刷新</a>

     <br/>用户名: {{ user.username }}

    </div>
    <hr/>

{{db_data_name}}:
<br>
<pre>
{{raw_db_data}}
</pre>
</body>
</html>
