{% extends "admin/main.html" %}
{% block right %}
    <h3>配置变动记录</h3>

 <table border="1px" cellspacing="0px" bordercolor="gray" style="border-collapse:collapse" >
		<tr class="{% cycle 'odd' 'even'%}">
			<th>#</th>
			<th>登录用户</th>
			<th>时间</th>
			<th>分区号 : 配置名称</th>
			<th>更改内容</th>

		</tr>
		{% for log in logs %}
		<tr class="{% cycle 'odd' 'even'%}">
			<td>{{forloop.counter}}</td>
			<td>{{log.username}}</td>
			<td>{{log.date_time}}</td>
                        <td>{{log.subarea}} : {{log.config_name}}</td>
			<td><pre>{{log.diff}}</pre></td>
		</tr>
		{%endfor%}
	</table>

 <br>
 <p style="color: gray">* 暂时只保留最多 1000 条记录, 或最长 30 天。</p>
{% endblock %}
