{% extends "admin/main.html" %}
{% block right %}

    <script type="text/javascript">
        function view(mid){
	  window.open("/admin/moderator/view_permissions/?mid=" + mid, "permissions", "width=400,height=400,top=180,left=390");
}
    </script>
<!-- </head>
<body> -->
    <h1> 管理员列表 </h1>
    <table width="100%" style="border:1px solid #ccc">
    <colgroup>
        <col align="center"/>
        <col align="center"/>
        <col align="right" />
        <col align="right" />
        <col align="right"/>
        <col />
        <col width="*"/>
    </colgroup>
    <tbody>
        <tr>
            <th>标识</th>
            <th>帐号</th>
            <th>邮箱</th>
            <th>最后登录IP</th>
            <th>最后登录时间</th>
            <th>权限</th>
            <th>操作</th>
        </tr>
         {% for moderator in moderator_list %}
         <tr>
            <td>
                {{ moderator.mid }}
            </td>
             <td>
                 {{ moderator.username }}
             </td>
             <td>
                 {{ moderator.email }}
             </td>
             <td>
                 {{ moderator.last_ip }}
             </td>
             <td>
                 {{ moderator.last_login|date:"Y-m-d H:i:s" }}
             </td>
             <td>
                 <a href='javascript:view({{ moderator.mid }})'>权限</a>
             </td>
             <td>
            {% if message%}
                <a href="/admin/moderator/manage_moderator/?mid={{ moderator.mid }}">管理(等待审核)</a>&nbsp;
            {% else %}
                <a href="/admin/moderator/manage_moderator/?mid={{ moderator.mid }}">管理</a>&nbsp;
            {% endif %}
                <a href="/admin/moderator/delete_moderator/?mid={{ moderator.mid }}">删除</a>
             </td>
         </tr>
         {% endfor %}
    </tbody>
    </table>

    <p style="color:gray">* 按最后登录时间排序. Total: {{moderator_list|length}}</p>

    <p>
        <a href="/admin/moderator/add_moderator/"><button>增加管理员</button></a>
    </p>

    <p>
        <a href="/admin/moderator/view_all_permissions/"><button>各管理员权限一览</button></a>
    </p>

{% endblock %}
