<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<base target="mainFrame" />
<title>系统留言</title>
<style type="text/css">
<!--
body,td,th {
	font-size: 14px;
	line-height:180%;
}
-->
</style></head>
<body>
{%if success%}
<script>alert('发送成功')</script>
{%endif%}
<form action="/admin/sys_message/" method="post">
  <label>系统留言:<br />
  <textarea name="message" id="textarea" cols="100" rows="10"></textarea>
  </label>
  <p>&nbsp;</p>

  <label>接受者：<br />
    <textarea name="receive" id="textarea2" cols="45" rows="5"></textarea>
  </label>
  </p>
<input name="" type="submit" value="提交" />
</form>	
</body>
</html>
