<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>

<body>
<form method="post" action="/admin/notice/create/">
    <table cellpadding="5" cellspacing="0">

        <tr>
            <td>标题：</td>
            <td><input type="text" name="title" size="40" maxlength="128"/></td>
        </tr>
        <tr>
            <td>请选择公告的链接：</td>
            <td><input type="text" name="link" size="40" maxlength="128"/></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><textarea name="content" rows="20" cols="50"></textarea></td>
        </tr>


        <tr>
            请选择新建公告的平台：
            <select name="category">
                <option value="pc" selected="selected">PC</option>
                <option value="mb">MB</option>
            </select>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="保存"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
