<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>

<body>
<form method="post" action="/admin/notice/update/">
    <input type="hidden" value="{{ notice.id }}" name="id"/>
    <table cellpadding="5" cellspacing="0">
        <tr>
            <td colspan="2" align="center">编辑公告</td>
        </tr>
        <tr>
            <td>标题：</td>
            <td><input type="text" name="title" size="40" maxlength="20"
                       value="{{ notice.title }}"/></td>
        </tr>
        <tr>
            <td>创建时间：</td>
            <td>{{ notice.created_at }}</td>
        </tr>
        <tr>
            <td>更新时间：</td>
            <td>{{ notice.updated_at }}</td>
        </tr>
        <tr>
            <td>链接地址：</td>
            <td><input type="text" name="link" size="40" maxlength="20"
                       value="{{ notice.link }}"/></td>
        </tr>
        <tr>
            <td>内容：</td>
            <td><textarea name="content" rows="20"
                          cols="50">{{ notice.content }}</textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="保存"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
