{% load tags %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Statistics</title>
    <style type="text/css">
        tr.odd {background-color:#ccc;color: black;}
        tr.even {background-color:white;}
    </style>
</head>

<body>
  <h2>统计信息 Statistics Info
  </h2> 

  <hr clear=all>
  <p>用户持续登陆 (Users continuously logged in )

  <table style="border:1px solid #ccc">
    <tr>
      <th>連続ログイン日数<br> 
        <span style="color:gray">
          持续登陆天数 <br> Continuous Login Days 
          </span>
        </th> 
        <th>全てユーザー数 <br> 
          <span style="color:gray">
            全部用户数 <br> Users Count
          </span>
        </th>

      <th>今日もログインしたユーザー数 <br> 
        <span style="color:gray"> 今日登录过的用户数 <br> 
          Today Logged in <br>Users Count</span> </th>


      <th>昨日ログインしたが、今日ログインしてないユーザー数 <br>
        <span style="color:gray">
          昨日登录过, 今日未登录, 的用户数 <br> 
          Yesterday-Login-Today-Not <br>Users Count</span> </th>

      <th>中で昨日or今日ログインしたユーザー数 <br> 
        <span style="color:gray"> 昨日/今日登录过的用户数 <br> 
          Yesterday-or-Today Logged in <br>Users Count</span> </th>
    </tr>

  {% for continue_login in continue_login_count %}
    <tr class="{% cycle 'odd' 'even'%}"> 
      <td>{{continue_login.days}}</td> 
      <td>
        {{continue_login.total}}
      </td>
      <td>
        {{today_login_continue_count|dictValue:continue_login.days}}
      </td>
      <td>
        {{yesterday_login_continue_count|dictValue:continue_login.days}}
      </td>
      <td>
        {{yesterday_today_login_continue_count|dictValue:continue_login.days}}
      </td>
    </tr>
  {% endfor %}
  </table>

</body>
</html>
