{%load tags%}
{% include "include/voice.html" %}
{% spacer 3 %}<br />

<img src="{% media_url '/images/core/footer.gif' %}" width="240" height="68" /><br />
<span style="font-size:x-small;">{% emoji 'KEYCAP_1' %}<a href="{% mobile_url '/core/' %}" accesskey="1">ワンラビTOP</a>&nbsp;&nbsp;{% emoji 'KEYCAP_3' %}<a href="{% mobile_url '/mypage/init/' %}" accesskey="3">マイページ</a></span><br />
<span style="font-size:x-small;">{% emoji 'KEYCAP_4' %}<a href="{% mobile_url '/dungeon/init/' %}" accesskey="4">冒険</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% emoji 'KEYCAP_6' %}<a href="{% mobile_url '/gacha/top/' %}" accesskey="6">ガチャ</a></span><br />
